In [13]:
import pandas as pd

In [14]:
import numpy as np

In [15]:
f = pd.read_csv('train.csv')

In [16]:
ship = test.append(train, ignore_index = True)

NameError: name 'test' is not defined

In [ ]:
ship['Name'][0].split(', ')[1].split('. ')[0]

In [ ]:
ship['Title'] = ship.Name.apply(lambda x : x.split(', ')[1].split('. ')[0])

In [ ]:
ship['Title'].unique()

In [ ]:
ship.Title.replace('the Countess', 'Countess', inplace = True)

In [ ]:
ship.Title.isnull().sum()

In [ ]:
x = ship.groupby('Title', sort = False)['Age'].agg('median')
x['Mr']

In [ ]:
Age = ship.Age.isnull()
missingAge = Age[Age == True]

In [ ]:
missingAge.index

In [ ]:
ship[(ship['Age'].isnull()) == True].head()

In [ ]:
for i in missingAge.index:
    ship.Age[i] = x[ship.Title[i]]

In [ ]:
ship.info()

In [ ]:
ship.Title['Mr'].mean()

In [18]:
train = pd.read_csv('train.csv')

In [ ]:
test = pd.read_csv('test.csv')

In [ ]:
gender_sub = pd.read_csv('gender_submission.csv')

In [19]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 3 columns):
id                7381 non-null int64
location          7381 non-null object
fault_severity    7381 non-null int64
dtypes: int64(2), object(1)
memory usage: 173.1+ KB

In [ ]:
data = train.append(test)

In [ ]:
del test['Cabin']

In [ ]:
del test['Ticket']

In [ ]:
test['Title'] = test['Name'].apply(lambda x: x.split(', ')[1].split('. ')[0])

In [ ]:
test.info()

In [ ]:
test.info()

In [ ]:
test.groupby('Title', sort = False)['Age'].agg('median')

In [ ]:
xx = test.groupby('Title')['Age'].median()
xx

In [ ]:
missingAge1 = test.Age.isnull()

In [7]:
test['Age'].notnull().median()

NameError: name 'test' is not defined

In [399]:
for i in test[test.Age.isnull()].index:
    test[Age][i] =

Int64Index([ 10,  22,  29,  33,  36,  39,  41,  47,  54,  58,  65,  76,  83,
             84,  85,  88,  91,  93, 102, 107, 108, 111, 116, 121, 124, 127,
            132, 133, 146, 148, 151, 160, 163, 168, 170, 173, 183, 188, 191,
            199, 200, 205, 211, 216, 219, 225, 227, 233, 243, 244, 249, 255,
            256, 265, 266, 267, 268, 271, 273, 274, 282, 286, 288, 289, 290,
            292, 297, 301, 304, 312, 332, 339, 342, 344, 357, 358, 365, 366,
            380, 382, 384, 408, 410, 413, 416, 417],
           dtype='int64')

In [235]:
test['Sex'].replace(['male', 'female'], [0,1], inplace = True)

In [236]:
test['Embarked'].replace(['S', 'C', 'Q'], [1,2,3], inplace = True)

In [237]:
test[test['Fare'].isnull()]

     PassengerId  Pclass  Sex   Age  SibSp  Parch  Fare  Embarked
152         1044       3    0  60.5      0      0   NaN         1

In [372]:
test.groupby('Pclass')['Fare'].mean()

Pclass
1    94.280297
2    22.202104
3    12.459678
Name: Fare, dtype: float64

In [240]:
test.Fare[test.PassengerId == 1044] = 22.2

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [282]:
missing = test[test['Age'].isnull()]
filled = test[test['Age'].notnull()]

In [283]:
del missing['Age']

In [286]:
filled.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0          892       3    0  34.5      0      0   7.8292         3
1          893       3    1  47.0      1      0   7.0000         1
2          894       2    0  62.0      0      0   9.6875         3
3          895       3    0  27.0      0      0   8.6625         1
4          896       3    1  22.0      1      1  12.2875         1

In [252]:
from sklearn.linear_model import LinearRegression
L = LinearRegression()

In [287]:
L.fit(filled.drop('Age', axis = 1), filled['Age'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [289]:
from sklearn.metrics import r2_score, mean_squared_error

In [290]:
r2_score(filled['Age'], L.predict(filled.drop('Age', axis = 1)))

0.2680284083035338

In [291]:
predictionsa = L.predict(missing)

In [293]:
len(predictionsa)

86

In [273]:
L.fit(test.drop('Age', axis = 1), test['Age'])

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [272]:
test.Age.isnull().sum()

86

In [279]:
len(test.Age)

418

In [280]:
test['Age'][test['Age'].notnull()]

0      34.5
1      47.0
2      62.0
3      27.0
4      22.0
5      14.0
6      30.0
7      26.0
8      18.0
9      21.0
11     46.0
12     23.0
13     63.0
14     47.0
15     24.0
16     35.0
17     21.0
18     27.0
19     45.0
20     55.0
21      9.0
23     21.0
24     48.0
25     50.0
26     22.0
27     22.5
28     41.0
30     50.0
31     24.0
32     33.0
       ...
381    26.0
383    19.0
385    24.0
386    24.0
387    57.0
388    21.0
389     6.0
390    23.0
391    51.0
392    13.0
393    47.0
394    29.0
395    18.0
396    24.0
397    48.0
398    22.0
399    31.0
400    30.0
401    38.0
402    22.0
403    17.0
404    43.0
405    20.0
406    23.0
407    50.0
409     3.0
411    37.0
412    28.0
414    39.0
415    38.5
Name: Age, Length: 332, dtype: float64

In [295]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Sex            418 non-null int64
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           418 non-null float64
Embarked       418 non-null int64
dtypes: float64(2), int64(6)
memory usage: 26.2 KB

In [294]:
test.Age[test.Age.isnull()] = predictionsa

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [37]:
data = data[data['Age'].notnull()]

In [40]:
train = train[train['Age'].notnull()]

In [41]:
train = train[train['Embarked'].notnull()]

In [150]:
train1.Sex.unique()

array(['male', 'female'], dtype=object)

In [218]:
test['Embarked'].replace(['S', 'C', 'Q'], [1,2,3], inplace = True)

In [220]:
test['Sex'].replace(['male', 'female'], [0,1], inplace = True)

In [152]:
train1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    712 non-null int64
Survived       712 non-null int64
Pclass         712 non-null int64
Sex            712 non-null int64
Age            712 non-null float64
SibSp          712 non-null int64
Parch          712 non-null int64
Fare           712 non-null float64
Embarked       712 non-null int64
dtypes: float64(2), int64(7)
memory usage: 75.6 KB

In [144]:
train1 = train

In [94]:
del train['Ticket']
del train['Cabin']
del train['Name']

In [45]:
test = test[test['Age'].notnull()]

In [46]:
test = test[test['Fare'].notnull()]

In [170]:
np.std(test['Age'])

14.083250477403052

In [172]:
train1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    712 non-null int64
Survived       712 non-null int64
Pclass         712 non-null int64
Sex            712 non-null int64
Age            712 non-null float64
SibSp          712 non-null int64
Parch          712 non-null int64
Fare           712 non-null float64
Embarked       712 non-null int64
dtypes: float64(2), int64(7)
memory usage: 75.6 KB

In [67]:
X = pd.get_dummies(data, drop_first = True)

In [54]:
del data['Ticket']

In [60]:
del data['Cabin']

In [57]:
del data['Name']

In [75]:
X.head()

,Age,Fare,Parch,PassengerId,Pclass,SibSp,Survived,Embarked_Q,Embarked_S,Sex_male
0,22.0,7.2500,0,1,3,1,0,0,1,1
1,38.0,71.2833,0,2,1,1,1,0,0,0
2,26.0,7.9250,0,3,3,0,1,0,1,0
3,35.0,53.1000,0,4,1,1,1,0,1,0
4,35.0,8.0500,0,5,3,0,0,0,1,1

In [74]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1043 entries, 0 to 415
Data columns (total 10 columns):
Age            1043 non-null float64
Fare           1043 non-null float64
Parch          1043 non-null int64
PassengerId    1043 non-null int64
Pclass         1043 non-null int64
SibSp          1043 non-null int64
Survived       1043 non-null uint8
Embarked_Q     1043 non-null uint8
Embarked_S     1043 non-null uint8
Sex_male       1043 non-null uint8
dtypes: float64(2), int64(4), uint8(4)
memory usage: 61.1 KB

In [73]:
X['Survived'] = pd.get_dummies(data['Survived'], drop_first = True)

In [296]:
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import BernoulliNB
g = GaussianNB()
b = BernoulliNB()

In [297]:
g.fit(train1.drop('Survived', axis = 1), train1['Survived'])
b.fit(train1.drop('Survived', axis = 1), train1['Survived'])

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [298]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [299]:
accuracy = []
precision = []
recall = []
f1 = []

In [300]:
algorithms = [g,b]
names = ['GaussianNB', 'BernoulliNB']

In [301]:
for i in range(len(algorithms)):
    accuracy.append(accuracy_score(train1['Survived'], algorithms[i].predict(train1.drop('Survived', axis = 1))))
    precision.append(precision_score(train1['Survived'], algorithms[i].predict(train1.drop('Survived', axis = 1))))
    recall.append(recall_score(train1['Survived'], algorithms[i].predict(train1.drop('Survived', axis = 1))))
    f1.append(f1_score(train1['Survived'], algorithms[i].predict(train1.drop('Survived', axis = 1))))

In [315]:
accuracy_score(train1['Survived'], g.predict(train1.drop('Survived', axis = 1)))

0.7907303370786517

In [314]:
accuracy

[0.7907303370786517, 0.7794943820224719]

In [303]:
predictions = b.predict(test)

In [308]:
predictions

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0])

In [ ]:
predictions.sum()

In [305]:
predictions.mean()

0.36363636363636365

In [306]:
train1['Survived'].mean()

0.4044943820224719

In [311]:
result = pd.DataFrame(columns = ['PassengerId', 'Survived'])
result['PassengerId'] = test['PassengerId']
result['Survived'] = predictions
result.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [313]:
result.to_csv('Titanic Kaggle.csv', index = False)